{% extends '::base.html.twig' %}

{# src/article/PlatformBundle/Resources/views/Advert/about.html.twig #}





    {% block body %}





        {% block javascripts %}

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

            <script src="{{ asset('bundles/articlePlatform/js/example.js') }}"></script>

        {% endblock %}






    <header>
        <h1>Parlons série</h1>
    </header>


    <article>


        <H4>Légende des premiers temps</H4>
<p>
Il existe de nombreuses légendes à propos de la découverte de l'effet excitant du café. Une première parle d’un jeune berger en Abyssinie, l’Ethiopie actuelle, aux environs de l’an 850. Il avait remarqué que ses chèvres étaient devenues particulièrement vivaces après avoir absorbé certaines baies.</p><p>
Les moines gouttaient les fruits, mais étaient déçus par le goût amer et les jetaient au feu. Ensuite, il se répandait un parfum délicieux. De façon bizarre, les moines faisaient, à partir des fruits ainsi torréfiés, une infusion qu'ils vantaient comme un cadeau de Dieu, parce qu'elle les aidait à rester éveillés pendant la prière.</p>

<H4><b>Découverte du café</b></H4>
<p>
La culture de la boisson du café remonte au 11ème siècle. A cette époque là, le café est arrivé de son pays natal l'Ethiopie en Arabie. Le nouveau "vin de l'Islam" enthousiasma les Perses par son effet stimulant, car le véritable vin était interdit aux croyants musulmans. La désignation café provient de l'ancien arabe qahwah ("l'excitant").</p><p>
Au cours de la 2ème moitié du 15ème siècle, le café s'est répandu au-delà de la Mecque et de Médine dans le grand royaume arabe et a conquis  également le Caire en 1510.</p><p>
Dans la première moitié du 16ème siècle, le royaume ottoman est arrivé à son apogée. De ce fait, le café a joué un rôle de plus en plus important en Arabie, en Asie mineure, en Syrie, en Egypte et dans le sud-est de l'Europe. Les premiers cafés ont été ouverts en 1530 et en 1532 à Damas et à Aleppo.</p>

<H4>Le café conquiert l'Europe</H4>
<p>
En 1615, des commerçants vénitiens ont apporté les premiers sacs de café en Europe occidentale. La boisson savoureuse et excitante a été appréciée rapidement et toutes les grandes villes européennes ont ouvert leurs premiers cafés. La bourgeoisie habile en affaires a célébré le "grand dégrisant", qui transformait les ivrognes en ouvriers fiables. Des marins hollandais et anglais ont répandu la plante dans leurs colonies réparties dans le monde entier.</p><p>
Lorsque les Turcs ont dû interrompre leur conquête de Vienne en 1683, ils ont laissé 500 sacs de café. Un commerçant polonais ingénieux a inauguré ainsi le premier café de Vienne.</p><p>
La propagation de la boisson a été suivie d'une immense diffusion de la culture du caféier. Dès la fin du 17e siècle, on a réussi à cultiver des caféiers dans des serres. L'une de ces plantes fut offerte à Louis XIV en 1714 à Paris. Cette plante est considérée comme l'ancêtre de millions de caféiers.</p>

<H4>Café au 20e siècle</H4>
<p>
Au début du 20e siècle, le Brésil est devenu le plus grand producteur de café au monde. Aujourd'hui, presque toute la production de café provient d'Amérique Centrale, du Brésil et des zones tropicales d'Amérique du sud. La production mondiale de café atteint environ 150 millions de sacs par an. Le Brésil concentre plus d’1/3 de ce volume, ce qui le place au premier rang en la matière. </p>
<p>
La torréfaction du café à la maison a été remplacée définitivement par le produit fini industriel. En 1901, le Japonais Dr. Sartori Kato a présenté la première poudre de café soluble. En 1938, la société Nestlé a jeté les fondements de la distribution commerciale du café soluble (café instantané). La demande de café a fait de la matière première le deuxième produit commercial le plus important après les produits pétroliers.</p>
<p>
Les chiffres de la consommation de café se reflètent dans le développement de la consommation mondiale de café brut au cours des 250 dernières années :
1750 : 600.000 sacs, 1850 : 4 millions de sacs, 1950 : 36 millions de sacs, 1995 : 94 millions de sacs, 2000 : 103 millions de sacs, 2011 : 148 millions de sacs.</p>
    </article>


            {% endblock %}

