{% extends '::base.html.twig' %}

{# src/article/PlatformBundle/Resources/views/Advert/about.html.twig #}





    {% block body %}





        {% block javascripts %}

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

            <script src="{{ asset('bundles/articlePlatform/js/example.js') }}"></script>

        {% endblock %}






    <header>

        <h1 style="text-align:center">Qui sommes nous</h1>
    </header>


    <article>


<p>
    Nous sommes tout comme vous, de simples internautes passionnés de séries. Et dans ce blog, nous recherchons régulièrement les meilleures séries d'actualités qui nous ont le plus marqués, touchées et que nous souhaitons partager avec vous.
</p>


    </article>




            {% endblock %}

