{% extends ['::base.html.twig','::Blog/index.html.twig'] %}


{% block body %}




<div class="container">

  <h1>My first Bootstrap website!</h1>

  {% block body1 %}{% endblock %}

  <p>This page will grow as we add more and more components from Bootstrap...</p>      
  <p>This is a paragraph.</p>      
  <p>This is another paragraph.</p>      
  <p>This is a paragraph.</p>      
  <p>This is another paragraph.</p>
</div>

      {% endblock %}




